.card{
    min-height: 415px;
}
#weerImg{
    background-repeat: no-repeat;
    background-position: bottom right;
}
#project-summary .summary-menu .summary-item.item-1 {
    width: 60%;
    float: left;
}