.card {
    height: 415px;
    overflow: hidden;
}
.card.card-updates .card-body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.card.card-updates .card-body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.card.card-updates .card-body li p{margin-bottom: 0;}

#weerImg {
    background-repeat: no-repeat;
    background-position: bottom right;
}

#project-summary .summary-menu .summary-item.item-1 {
    width: 60%;
    float: left;
}
.contributerImg {
    padding: 0px!important;;
}

.contributerImg img {
    width: 35px;
    height: 35px;
}
.IssueSummary p {
    font-size: 1.2rem;
    font-weight: bold;
}
.card-updates .list-group-item span.badge {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}